{% comment %}

{% render 'button-arrow', text: 'text', url: 'url' %} 

{% endcomment %}

<a href="{{ url }}" class="button-tertiary">
  <span>{{ text }}</span>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="7"
    height="12"
    fill="none"
    viewBox="0 0 7 12">
    <path
      stroke="#D87D4A"
      stroke-width="2"
      d="m1.322 1 5 5-5 5" />
  </svg>
</a>