.cart {
  h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }
  &__empty {
    display: flex;
    justify-content: center;
  }
  .summary {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 50px;
    p {
      font-size: 25px;
      font-weight: 900;
      margin-bottom: 20px;
    }
  }
  &__items {
    display: flex;
    flex-direction: column;

    .item {
      display: flex;
      padding: 20px 0 15px 0;
      gap: 50px;
      border-bottom: 1px solid var(--gray-dark);

      &__image {
      }
      &__info {
        flex-grow: 1;
      }
      &__quanity-selector {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        input {
          width: 50px;
          height: 50px;
          text-align: center;
          border: none;
          background-color: var(--gray-dark);
        }
        .plus,
        .minus {
          height: 50px;
          width: 50px;
          border: none;
          background-color: var(--gray-dark);
          cursor: pointer;
        }
        .plus:hover,
        .minus:hover {
          background-color: #888888;
        }
        .remove {
          width: 100%;
        }
      }
    }
  }
}
