footer {
  height: 365px;
  background: var(--black);
  color: var(--white);
  .content-wrapper {
    max-width: 1110px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    padding: 50px 0;

    .left-col {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      div,
      p {
        color: var(--white);
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0px;
      }
      .shop-name {
        font-size: 25px;
        font-weight: 900;
        text-transform: lowercase;
        color: var(--white);
        margin-bottom: 20px;
      }
    }
    .right-col {
      width: 50%;
    }
  }
}
