.header {
  height: 90px;
  width: 100%;
  overflow: hidden;
  background-color: black;

  input::placeholder {
    color: red;
  }

  &__wrapper {
    height: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    @media (max-width: 1100px) {
      margin: 0 20px;
    }
  }

  .cart-icon-parent {
    position: relative;
    .cart-icon-count {
      position: absolute;
      bottom: -5px;
      right: -10px;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: var(--white);
      display: flex;
      justify-content: center;
      align-items: center;

      & span {
        font-size: 12px;
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;

    a {
      font-size: 25px;
      font-weight: 900;
      text-transform: lowercase;
      color: var(--white);
      text-decoration: none;
    }

    div {
      display: none;
      cursor: pointer;
      @media (max-width: 768px) {
        display: block;
      }
      svg {
        height: 16px;
        width: 16px;
        margin-right: 40px;
      }
    }
  }

  &-menu.menu-active {
    left: 0;
  }
  &-menu {
    z-index: 1000;
    display: flex;
    list-style-type: none;
    @media (max-width: 768px) {
      position: absolute;
      background-color: var(--white);
      top: 90px;
      left: 100%;
      height: calc(100vh - 90px);
      width: 100vw;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 0.25s ease-in;
    }

    &--item {
      a {
        color: var(--white);
        text-decoration: none;
        font-weight: 900;
        line-height: 25px;
        letter-spacing: 2px;
        font-size: 13px;
        @media (max-width: 768px) {
          color: var(--black);
          font-size: 30px;
        }

        &:hover {
          color: var(--orange-dark);
        }
      }
    }
    &--item:not(:last-child) {
      margin-right: 20px;

      @media (max-width: 768px) {
        margin-right: 0;
        margin-bottom: 30px;
      }
    }
  }
}
