.template-product {
  max-width: 1110px;
  margin: 100px auto;
  .main-info {
    display: flex;
    .image {
      width: 50%;
      aspect-ratio: 1/1;
      border-radius: 5px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .info {
      width: 50%;
      aspect-ratio: 1/1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .price {
        font-size: 18px;
        font-weight: bold;
      }
    }
    .info-right {
      .price {
      }
      .product-form {
        display: flex;
        gap: 10px;
        margin-top: 20px;
        .quanity-wrapper {
          display: flex;
          .minus,
          .plus,
          .quanity {
            height: 50px;
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--gray-dark);
          }
          .plus {
            cursor: pointer;
          }
          .minus {
            cursor: pointer;
          }
          .quanity {
            text-align: center;
          }
        }
      }
    }
  }
}
.block-images {
  margin: 50px 0;
  display: grid;
  grid-template-columns: 1fr 1.6fr;
  grid-template-rows: 300px 300px;
  gap: 25px 25px;
  grid-template-areas:
    "one three"
    "two three";
  .three {
    grid-area: three;
  }
  .one {
    grid-area: one;
  }
  .two {
    grid-area: two;
  }

  .one,
  .two,
  .three {
    border-radius: 25px;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
