<div class="section-nav">
  {%- for block in section.blocks -%}
    {% case block.type %}
      {% when 'section-nav-item' %}
        <div class="section-nav__item">
          <h6>{{ block.settings.block_title }}</h6>
          {% assign buttonUrl = block.settings.block_url %}
          {% render 'button-arrow', text: 'SHOP', url: buttonUrl %}
        </div>
    {% endcase %}
  {% endfor %}
</div>

{% liquid
  render 'vite-tag' with '/src/styles/sections/section-nav.css'
%}

{% schema %}
{
  "name": "section-nav",
  "tag": "section",
  "class": "section",
  "max_blocks": 3,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Slideshow"
    }
  ],
  "blocks": [
    {
      "type": "section-nav-item",
      "name": "Section Nav Item",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "block_title",
          "label": "Item Title",
          "default": "Example Title"
        },
        {
          "type": "url",
          "id": "block_url",
          "label": "Link URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Nav Section"
    }
  ]
}
{% endschema %}
