.button-primary {
  padding: 16px 30px;
  background-color: var(--orange-dark);
  display: inline-block;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  min-width: 160px;
  min-height: 50px;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
  color: var(--white);

  span {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--white);
  }

  &:hover {
    background-color: var(--orange-light);
  }
}

.align-left {
  align-self: flex-start;
}

.button-secondary {
  position: relative;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 16px 30px;
  background-color: var(--white);
  border: 1px solid var(--black);
  color: var(--black);
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;

  &.black {
    background-color: var(--black);
    color: var(--white);
    border: none;

    &:hover {
      background-color: #1a1a1a;
    }
  }
  &:hover {
    background-color: var(--black);
    color: var(--white);
  }
}
.button-tertiary {
  position: relative;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 16px 30px;

  color: var(--black);
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-flex;
  align-items: center;

  span {
    margin-right: 10px;
  }

  &:hover {
    span {
      color: var(--orange-dark);
    }
  }
}
