body {
  font-family: "Manrope", sans-serif;
  color: var(--black);
  font-size: 15px;
  line-height: 25px;
}

h1 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
}
h2 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.5px;
}
h3 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.15px;
}
h4 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
}
h5 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 1.7px;
}
h6 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1.3px;
}

.overline {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
  color: var(--orange-dark);
  font-weight: 400;
  text-transform: uppercase;
}

.sub-title {
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 1px;
  color: var(--orange-dark);
  font-weight: 900;
  text-transform: uppercase;
}
